html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    adding: 0;
    background-image: url(IMG/background.png);
}

#mymenu {
    height: 5%;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
}

#timeline_intro {
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
}

#timeline_slider {
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
    color: #eee;
    color: rgba(255,255,255,0.75);
    font-size: .7em;
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
}

#map_container {
    height: 80%;
}

#container {
    height: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    line-height: 5em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;

}

#contacts {
    height: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    line-height: 5em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
}

#api {
    
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: .5em;
    margin-top: 25px;

    margin-left: auto;
    margin-right: auto;
    

    height: 77%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;


    overflow: auto;


	overflow: auto;

    background-color: #FFFFFF;
    font-size: 1.0em;
    line-height: 2em;

}

#output {
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* implementation of the map */
#map_canvas {
    height: 95%;
    width: 85%;
    border: 2px solid;
    border-color: silver;
    margin-left: auto;
    margin-right: auto;
}

#markers {
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .3em;
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
    padding-top: 25px;
}    

#map_canvas img {
    max-width: none;
}

#chart_canvas {
}

#mapwindow {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#myfooter {
    text-align: center;
    clear: both;
    position: relative;
    display: block;
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
}

/* implementation of the menubar */
#nav {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
}

#nav > ul > li > ul {
    display: none;
}

#nav > ul {
    display: inline-block;
    border-radius: .35em;
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.25);
    padding: 0 1.5em;
}

#nav > ul > li {
    display: inline-block;
    text-align: center;
    padding: 0 1.5em;
}

a {
    text-decoration: none;
    color: #eee;
    color: rgba(255,255,255,0.75);
}

#nav > ul > li > a,#nav > ul > li > span {
    display: block;
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    height: 5em;
    line-height: 5em;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    outline: 0;
}

#nav > ul > li:hover > a,#nav > ul > li.active > a,#nav > ul > li.active > span {
    color: #fff;
}

.dropotron {
    background: #222835 url(images/overlay.png);
    background-color: rgba(44,50,63,0.925);
    padding: 1.25em 1em;
    border-radius: .35em;
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.25);
    min-width: 12em;
    text-align: left;
}

.dropotron.level-0 {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropotron a,.dropotron span {
    display: block;
    color: #eee;
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7em;
    letter-spacing: .25em;
    border-top: solid 1px rgba(255,255,255,0.15);
    line-height: 3em;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.dropotron li:first-child a,.dropotron li:first-child span {
    border-top: 0;
}

.dropotron li:hover > a,.dropotron li:hover > span {
    color: #fff;
}
